*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calcolater{
 padding: 20px;
 border: 2px solid #000;
 border-radius: 25px;
 box-shadow: 0 13px 12px rgba(0,0,0,0.5);
 background-color:  rgba(0,0,0,0.25);
}
input{
    width: 320px;
    padding: 24px;
    margin: 10px;
    height: auto;
    background-color: rgba(0,0,0,0.25);
    font-size: 45px;
    text-align: right;
    color: #fff;
    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 16px;
    
}
input::placeholder{
    color: #fff;
}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    font-size: 24px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 25px;
}
.ac,.del{
    font-size: 20px;
}
button:hover{
    background-color: orange;
    color: #fff;
}
.equal-btn{
    background-color: orange;
    border: none;
}
.opreator{
    color: orange;
    text-align: center;

}

